* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
.nav-container {
  background: #fffffa;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  height: 72px;
  margin-top: -10px;
  z-index: 500;
  position: relative;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

.logo {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: #021718;
}


.nav-items li {
  list-style: none;
  margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0%;
}

.nav-items li a{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-decoration: none;
  
  color: #021718;
}

/*header*/
.header-container{
  background: #F5A05C url("images/BG\ Shape.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  display: flex;
  align-items: center;
  

}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
font-weight: 900;
font-size: 64px;
line-height: 75px;
color: #021718;
margin-bottom: 24px;
}
header p {
font-weight: normal;
font-size: 24px;
line-height: 42px;
color: #021718;
width: 418px;
margin-bottom: 48px;
}
.search-box{
  width:1000px;

  text-align: right;
  position: relative;
  top: 0;
  margin-right: 20px;
  transition: 300ms}

.search-box.active{
  top: 72px;
}

.search-box input {

border: 0;
padding: 2px 4px;
position: absolute;
font-size: 24px;
line-height:42px ;
background: #FFFFFA;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
border-radius: 0px 0px 8px 8px;
}



header a {

font-size: 24px;
color: #FFFFFA;
background: #01847F;
border-radius: 8px;
text-decoration: none;
padding: 12px 48px;
display: inline-block;
transition: 300ms;

}

header a:hover {
transform: translateY(-8px);
}

.social-icon{
  display: flex;
  align-items: center;
}

.social-icon a{
  margin: 0 24px;
}

.social-icon a:nth-of-type(1) {
  margin-left: 0%;
}

header .hero-image {
  position: relative;
}

header .hero-image img {
  transition: 300ms;
  position: relative;
  z-index: 100;
  top: 60px;
}


header .hero-image .photo-bg {

  
position: absolute;
width: 500px;
height: 500px;
left:  47px;
top: 80px;

background: #44A1A0;
transform: rotate(-5.47deg);


}



header .hero-image img:hover {
  transform:rotate(-6deg);
}

.nav-btn-container {
  display: flex;
  position: relative;
}

.nav-btn-container img {
  position: absolute;
}

.nav-btn-container .close-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: 300ms;

}

.nav-btn-container .search-btn {
  transition: 300ms;
  pointer-events: auto;
  
}

.nav-btn-container.active .close-btn {
opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  
}

.nav-btn-container.active .search-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);

}